<div class="content-section">
    <div class="content-item">
      <div class="content-image">
        <img src="../assets/images err.jpeg" alt="Sample Image 1" />
      </div>
      <div class="content-text">
        <div class="wraper">
          <div class="hilight"></div>
          <h2>Aptean's ROSS ERP</h2>
        </div>
        <p>
            <span>ROSS™ Consulting: Your Guide to Success</span><br>
          KasSys® has been a trusted partner for ROSS™ since 1996. With over 70
          successful projects, we have
          the deep knowledge and experience needed to help businesses get the most from
          their ROSS ERP,
          ERM, and SCM applications. Whether it's Financials, Distribution, Manufacturing,
          or Supply Chain
          Management, we provide full support from implementation to ongoing “total care”
          services.
          We work closely with each customer to define clear strategies, milestones, and
          project phases,
          ensuring that every project is on time, on budget, and aligned with your business
          goals.
          With KasSys®, you get more than just a service provider—you get a partner
          committed to your
          success. Let’s transform your business together!
          
        </p>
        <!-- <button class="btn" (click)="about()">See More</button> -->
      </div>
    </div>
  </div>
  