<div class="content-section">
  <!-- First Section: Image on the left, Text on the right -->
  <div class="content-item">
    <div class="content-image">
      <img src="assets/images/welcome.jpg" alt="Sample Image 1" />
    </div>
    <div class="content-text">
      <div class="wraper">
        <div class="hilight"></div>
        <h2>Welcome to KasSys Group Inc.</h2>
      </div>
      <p>
        <span>Your Experts in ERP, ERM & DSS Solutions</span><br />
        At KasSys Group, we specialize in Implementation, Maintenance, and Education services for
        Enterprise Resource Planning, Enterprise Resource Management, and Decision Support Systems.
        With our deep expertise in both local and international markets, we help businesses unlock the power
 of technology.
      </p>
      <button class="btn" (click)="about()">See More</button>
    </div>
  </div>

  <!-- Second Section: Image on the right, Text on the left -->
  <div class="content-item reverse">
    <div class="content-text">
      <div class="wraper">
        <div class="hilight"></div>
        <h2>Kassys Group, Inc. Services</h2>
      </div>
      <p>
        At Kassys Group, Inc., our goal is straightforward: to deliver exceptional service
        with a commitment to quality, transparency, and integrity. We focus on building
        long-term partnerships, fostering innovation, and maximizing value for every
        client.
        As businesses face increasingly complex and expansive systems, a robust IT
        infrastructure is essential for optimal performance and security. Our service
        offerings address these challenges, enabling your agency to achieve greater
        productivity, secure operations, and enhanced system availability.
        At KasSys® Group, our commitment is to deliver impactful services tailored to
        meet our clients' highest expectations. We prioritize building strong partnerships,
        transparent communication, and a dedication to success, backed by deep technical
        expertise and a focus on exceptional integrity.
      </p>
      <button class="btn" (click)="services()">See More</button>
    </div>
    <div class="content-image">
      <img
        src="assets/images/transformational_success.jpg"
        alt="Sample Image 2"
      />
    </div>
  </div>
</div>