<div class="chatbot-container">
    <div class="header">
      <h3>Ask a Question</h3>
    </div>
    
    <div class="available-questions">
      <h4>Frequently Asked Questions</h4>
      <ul>
        <li *ngFor="let question of availableQuestions" (click)="sendQuestion(question)">
          {{ question }}
        </li>
      </ul>
    </div>
  
    <div class="messages">
      <div *ngFor="let message of messages" [class.user]="message.sender === 'User'" [class.bot]="message.sender === 'Bot'">
        <strong>{{ message.sender }}:</strong> <span>{{ message.text }}</span>
      </div>
    </div>
  </div>
  