<footer class="footer">
  <div class="footer-section logo-motto">
    <span class="company-name">KASSYS GROUP</span>
    <img src="../../assets/images/kassys_logo1.jpg" alt="Company Logo" class="logo" />
    <p class="motto">
      Copyright © 2000-2007. KasSys® Group a Systems solution company. All
      Rights Reserved.
    </p>
  </div>

  <div class="footer-section footer-links">
    <ul>
      <li><a (click)="home()">HOME</a></li>
      <li><a (click)="services()">SERVICE</a></li>
      <li><a (click)="products()">PRODUCTS</a></li>
      <li><a (click)="career()">CAREER</a></li>

      <li class="dropdown">
        <a>EVENTS <span class="dropdown-icon">▼</span></a>
        <ul class="dropdown-content">
          <li><a (click)="news()">NEWS</a></li>
          <li><a (click)="announcement()">ANNOUNCEMENT</a></li>
          <li><a (click)="login()">LOGIN</a></li>

        </ul>
      </li>   
         <li><a (click)="partners()">PRTNER</a></li>
      <li><a (click)="contactus()">CONTACT</a></li>
      <li><a (click)="about()">ABOUT US</a></li>
    </ul>
  </div>

  <div class="footer-section contact-info">
    <p>KasSys® Group Inc.</p>
    <p>8230 Boone Blvd. Suite 210</p>
    <p>22182 Vienna VA.</p>
    <p>Email: contact&#64;KasSys®group.com</p>
    <p>Phone: (703) 854 - 1033</p>
    <p>Fax: (703) 991-4573</p>
  </div>
</footer>
