.footer {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  background-color: #D9D9D9; 
  padding: 20px 40px; 
  color: #000000; 
  font-weight: bold;
}

.footer-section {
  flex: 1; 
  padding: 10px;
}

.company-name {
  font-size: 60px;
  font-weight: bolder;
}

.logo-motto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.logo {
  max-width: 150px; 
  height: auto;
}

.motto {
  margin-top: 10px;
  font-size: 1.2rem;
  font-style: italic;
}

.footer-links ul {
  list-style-type: none;
  padding-left: 100px;
}

.footer-links ul li {
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-links ul li a {
  text-decoration: none;
  color: #000000; 
}

.footer-links ul li a:hover {
  text-decoration: underline; 
}

.contact-info p {
  margin: 5px 0;
  padding-left: 200px;
  text-align: start;
}


/* Dropdown Menu */
.dropdown {
  cursor: pointer;
}

.dropdown-icon {
  font-size: 20px;
  margin-left: 5px;
}

.dropdown-content {
  display: none;
}



.dropdown-content a {
  padding-right: 100px;
  font-size: 20px;
  color: #000;
  display: block;
}

.dropdown-content a:hover {
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .company-name {
      font-size: 48px; 
  }

  .motto {
      font-size: 1rem; 
  }

  .footer-links ul {
      padding-left: 100px; 
  }
}

@media (max-width: 768px) {
  .footer {
      flex-direction: column; 
      text-align: center;
      padding: 20px; 
  }

  .footer-section {
      margin-bottom: 20px;
      padding-left: 0; 
      padding-right: 0; 
  }

  .footer-links ul {
      padding-left: 0;
      flex-direction: column; 
      align-items: center; 
  }

  .footer-links ul li {
      margin-bottom: 5px;
  }

  .contact-info p {
      padding-left: 0; 
  }
}

@media (max-width: 480px) {
  .company-name {
      font-size: 36px; 
  }

  .motto {
      font-size: 0.9rem; 
  }
}