 <div class="news-banner">
    <div class="headline-container" *ngFor="let headline of headlines">
      <h1 class="moving-headline">{{ headline.title }}</h1>
    </div>
  </div>
  
  <div class="news-content-container">
    <aside class="news-sidebar">
      <h3>Headlines</h3>
      <ul>
        <li *ngFor="let headline of headlines" (click)="selectNews(headline)">
          {{ headline.title }}
        </li>
      </ul>
    </aside>
  
    <section class="news-main">
      <h2>{{ selectedNews?.title }}</h2>
      <img [src]="selectedNews?.imageUrl" alt="{{ selectedNews?.title }}" class="news-image">
      <p>{{ selectedNews?.content }}</p>
  
      <div class="interaction-buttons">
        <button (click)="likeNews(selectedNews)">Like ({{ selectedNews?.likes }})</button>
        <button (click)="shareNews(selectedNews)">Share</button>
      </div>
  
      <div class="comments-section">
        <h3>Comments</h3>
        <ul>
          <li *ngFor="let comment of displayedComments">{{ comment }}</li>
        </ul>
        <button *ngIf="(selectedNews?.comments?.length ?? 0) > 2" (click)="toggleShowAllComments()">
          {{ showAllComments ? 'Show Less' : 'Show All' }}
        </button>
        <input [(ngModel)]="newComment" placeholder="Add a comment">
        <button (click)="addComment()">Post</button>
      </div>
      
  
      <div class="related-articles">
        <h3>Related Articles</h3>
        <ul>
          <li *ngFor="let article of relatedArticles" (click)="selectNews(article)">
            {{ article.title }}
          </li>
        </ul>
      </div>
    </section>
  </div>
  