<div class="career-container">
  <div class="header">
    <div class="wraper">
      <div class="hilight big"> </div> 
      <h1>Career at KasSys Group Inc.</h1>
    </div>
        <p class="discription">We pride ourselves on being more than just a workplace – we are a community driven by innovation, collaboration, and a commitment to excellence.</p>  
  </div>
  <div class="career-header">
    <div class="content-image">
      <img src="../assets/images/careers.png" alt="Sample Image 1" />
    </div>

    <div class="career-text">
      <div class="career-section">
        <div class="wraper">
          <div class="hilight"></div>
          <h2>Why Join KasSys?</h2>
        </div>
        <ul>
          <li>
            <strong>Invest in Your Growth:</strong> We provide training
            resources, access to the latest industry tools, and Opportunities to
            earn a life changing experience through highly positive and Supportive work environment. Stay ahead of trends with
            computer-based tutorials updated regularly.
          </li>
          <li>
            <strong>Practical Projects:</strong> Real world problem solving projects
          </li>
          <li>
            <strong>Supportive Culture:</strong> Enjoy an environment that
            values diverse perspectives, mutual respect, and career fulfillment.
          </li>
        </ul>
      </div>

      <div class="career-call-to-action">
        <div class="wraper">
          <div class="hilight"></div>
          <h2>Your Career, Empowered</h2>
        </div>
        <p>
          At KasSys, we don’t just build careers; we build futures. Join us to
          grow your skills, contribute to transformative projects, and enjoy a
          culture that fuels your ambitions. Let’s shape tomorrow together!
        </p>
      </div>
    </div>
  </div>
</div>
