.about-section {
  padding: 60px 0;
}

.container {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 20px; 
}

h1 {
  font-size: 3rem; 
  color: #000000;
}

.about-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  margin-top: 40px;
}

.about-item {
  width: 40%; 
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px; 
  flex: 1 1 300px; 
}

.hilight {
  height: 24px;
  margin-top: 8px;
}

.big {
  height: 40px;
  margin-top: 15px;
}

.about-item h2 {
  font-size: 1.5rem; 
  color: #000000;
  margin-bottom: 10px;
}

.about-item p,
.about-item ul {
  color: #000000;
  font-size: 1rem;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 10px;
  font-size: 1.125rem;
  color: #000000;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-item {
      width: 100%; 
      margin: 10px 0; 
  }

  h1 {
      font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 2rem; 
  }

  .about-item h2 {
      font-size: 1.25rem; 
  }

  .about-item p,
  .about-item ul {
      font-size: 0.9rem; 
  }

  ul li {
      font-size: 1rem; 
  }
}
