<header class="header-container">
  <div class="header-left">
    <img src="assets/images/kassys_logo1.jpg" alt="Company Logo" class="logo">
    <span class="company-name">KASSYS GROUP</span>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a (click)="home()">Home</a></li>
      <li><a (click)="services()">Services</a></li>
      <li><a (click)="products()">Products</a></li>
      <li class="dropdown">
        <a>Events <span class="dropdown-icon">▼</span></a>
        <ul class="dropdown-content">
          <li><a (click)="news()">News</a></li>
          <li><a (click)="announcement()">Announcement</a></li>
          <li><a (click)="login()">Login</a></li>
        </ul>
      </li>
      <li><a (click)="partners()">Partners</a></li>
      <li><a (click)="contactus()">Contact Us</a></li>
      <li><a (click)="about()">About</a></li>
    </ul>

    <!-- Mobile menu toggle -->
<div class="mobile-menu-icon" (click)="toggleMenu()">
  ☰
</div>

<!-- Mobile links -->
<ul *ngIf="isMenuOpen" class="nav-links-mobile show-menu">
  <li><a (click)="home()">Home</a></li>
  <li><a (click)="services()">Services</a></li>
  <li><a (click)="products()">Products</a></li>
  <li class="dropdown">
    <a>Events <span class="dropdown-icon">▼</span></a>
    <ul class="dropdown-content mobile-dropdown">
      <li><a (click)="news()">News</a></li>
      <li><a (click)="announcement()">Announcement</a></li>
      <li><a (click)="login()">Login</a></li>
    </ul>
  </li>
  <li><a (click)="partners()">Partners</a></li>
  <li><a (click)="contactus()">Contact Us</a></li>
  <li><a (click)="about()">About</a></li>
</ul>
  </nav>
</header>