* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Container */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  background-color: transparent;
  position: relative;
}

/* Left Section (Logo and Company Name) */
.header-left {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 97px;
  margin-right: 10px;
}

.company-name {
  font-size: 25px;
  font-weight: bold;
  color: #000;
}

/* Center Section (Navigation Links) */
.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  font-size: 25px;
  color: #000;
  font-weight: bold;
  padding: 10px 15px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav-links a:hover {
  color: #007BFF;
}

.dropdown {
  cursor: pointer;
}

.dropdown-icon {
  font-size: 20px;
  margin-left: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(217, 217, 217, 0.6);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  min-width: 300px;
  border-radius: 5px;
  padding: 10px;
}

.dropdown-content li {
  padding: 5px 0;
  list-style-type: none;
}

.dropdown-content a {
  font-size: 20px;
  color: #000;
  padding: 5px 10px;
  display: block;
  text-align: start;
}

.dropdown-content a:hover {
  background-color: #d9d9d9;
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}



.mobile-dropdown{
  position: relative;
  background: none;
  border-radius: 0;
  box-shadow: none;
  font-weight: bolder;
  
  }

/* Media Queries */
@media (max-width: 1024px) {
  .company-name {
    font-size: 22px;
  }
  .logo {
    max-width: 97px;
    margin-right: 10px;
  }

  .nav-links a {
    font-size: 22px;
  }

  .chatbot span {
    font-size: 0.9rem;
  }
  .nav-links-mobile.show-menu {
    display: none; 
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .logo {
    max-width: 70px;
    margin-right: 7px;
  }

  .mobile-menu-icon {
    display: block;
    margin-left: 300px;
  }

  .header-left,
  .header-right {
    flex: 1;
    text-align: center;
    margin-bottom: 10px;
  }

  .header-container {
    flex-wrap: wrap;
  }

  .company-name {
    font-size: 18px;
  }

  .nav-links-mobile a {
    padding: 10px 0;
  }
  .nav-links-mobile {
    display: flex; 
  }
  .nav-links-mobile.show-menu {
    display: flex; 
  }
}

@media (max-width: 480px) {
  .header-container {
    padding: 15px;
  }
  .logo {
    max-width: 50px;
    margin-right: 5px;
  }

  .company-name {
    font-size: 15px;
  }

  .nav-links-mobile a {
    padding: 8px 0;
  }
}