/* Reset margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; 
}
.bot{
  z-index: 2;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  position: relative;
}

/* Chatbot Toggle Button */
.chatbot-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  display: block;
align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.chatbot-toggle img {
  width: 25px;
  height: 25px;
}
.chatbot-toggle span{
  font-size:xx-small;
  display: block;

}

/* Chatbot Component */
.bot {
  position: fixed;
  bottom: 80px; 
  right: 20px;
  width: 350px;
  max-width: 100%;
  z-index: 2;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}


.header {
  z-index: 2; 
}

.image-container {
  position: relative; 
  width: 100%; 
  height: auto;
}

.styled-image {
  width: 100%; 
  height: auto;
  /* Clip the bottom left to create the cut effect */
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
  border-bottom: #000000 solid 1px;
}

.moto {
  z-index: 1;
  color: #000000;
  font-size: 3.75rem; 
  background-color: transparent;
  position: absolute;
  padding-top: 250px;
  padding-left: 50px;
  font-weight: bolder; 
  line-height: 1.2; 
}

.moto-red {
  color: red;
}

.footer {
  background-color: #D9D9D9; 
  padding: 20px 40px;
  color: #000000;
  text-align: center;
  position: relative;
  z-index: 1;
}

/* Adjustments for the header over the image */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  color: black;
  text-align: center;
  padding: 10px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .moto {
      font-size: 1.75rem; 
      padding-top: 160px; 
  }
}
@media (max-width: 768px) {
  .moto {
      font-size: 1.5rem; 
      padding-top: 110px;
      /* padding-left: 20px;  */
 
  }

  .footer {
      flex-direction: column; 
      padding: 15px; 
  }
}


@media (max-width: 480px) {
  .moto {
      font-size: 1.25rem; 
      padding-top: 70px; 
      padding-left: 24px; 
  }

  .footer {
      padding: 10px;
  }
}